.profile_main {
  margin-top: 10vh;
  height: 80vh;
  display: flex;
  justify-content: space-around;
}

.profile_left,
.profile_right {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white !important;
}

.profile_left {
  width: 30vw;
  height: 70vh;
  padding: 1rem;
  // background-color: rgb(116, 72, 72) !important;
  display: flex;
  justify-content: center;

  background: linear-gradient(-45deg, #ffffff, #d1e6f5, #e2e2e2, #b6cefa);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
    // height: 100vh;
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .avatar {
    width: 100% !important;
    height: 40% !important;
    height: 7rem;
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: fit-content;
    max-width: fit-content;
    background-color: transparent !important;
    margin-bottom: 4em;
  }
  img {
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: fit-content;
    max-width: fit-content;
    background-color: transparent !important;
  }
  h3 {
    border-bottom: 1px solid black;
    font-family: 'Poppins' !important;
    font-size: large !important;
    text-transform: uppercase;
    background-color: transparent !important;
  }
  .description {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent !important;

    h2 {
      margin: 0;
      font-family: 'Poppins' !important;
      font-size: large !important;
      background-color: transparent !important;
    }
    p {
      margin: 0;
      font-family: 'Poppins' !important;
      font-size: large !important;
      background-color: transparent !important;
    }
  }
}

.profile_right {
  width: 65vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke !important;

  .profile_right_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    .satisfaction {
      justify-content: center !important;
      align-items: center !important;
      align-content: center;
      background-color: white !important;
      height: 35vh;
      width: 18vw;
      border: 1px solid black;
      margin-right: 2.5vw;
      border-radius: 20px;
      h4 {
        margin-top: 4%;
        margin-right: 10%;
        margin-left: 20%;
        font-family: 'Poppins' !important;
        background-color: white !important;
      }
    }
    .profile_messages {
      background-color: rgb(100, 18, 18) !important;
      height: fit-content;
      width: 42vw;
      // border: 1px solid black;
      margin-left: 2.5vw;
      // border-radius: 20px !important;
    }
  }

  .profile_projects {
    width: 65vw;
    height: 35vh;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white !important;
    margin-bottom: 10em;
  }
}

.portfoliodiv {
  background-color: white !important;
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;
  border: 2px solid black;
  height: 9rem;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 15rem;
  border-radius: 10px;
  object-fit: fill !important;
  .portfoliodivunder {
    width: 80%;
    background-color: white !important;
  }
}

.portfolioTitle {
  background-color: white !important;
  font-family: 'Poppins' !important;
  h3 {
    text-transform: uppercase;
    background-color: white !important;
  }
}

.portfolioDescription {
  font-family: 'Poppins' !important;
  margin-left: 1em;
  margin-right: 1em;
  background-color: white !important;
  h5 {
    text-transform: capitalize;
    background-color: white !important;
    margin: 0px;
  }
}

.backgroundWhite {
  background-color: white !important;
}
.backgroundWhiteStrong {
  font-family: 'Poppins' !important;
  background-color: white !important;
  margin-top: 3%;
}
