.container {
  height: 90vh;
  white-space: nowrap;
  overflow-y: ;
  width: 100vw;
  background-color: rgb(241, 241, 241);

}

// .aboutBody {
//   display: flex;
//   width: 100%;
//   justify-content: center;
// }

// .portfolio1 {
//   margin-right:2em
// }