.container {
  padding: 60px 50px;
  display: inline-flex;
  background-color: #f7f7f7;
  position: relative;
  width: 100%;
}

.aboutBody {
  display: flex;
  width: 100%;
  justify-content: center;
}

.portfolio1 {
  margin-right:2em
}