html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.fullNav {
  display: flex;
  justify-content: flex-end;
  height: 4em;
  position: relative;
  bottom: auto;
  background-color: rgb(21, 21, 44);
  color: white;
  cursor: pointer;
}

.buttonNav {
  padding-right: 2em;
}

.titleNav {
  margin-right: 22em;
}