.home_main {
  height: 90vh;
  
  padding: 3rem;
  background-color: whitesmoke;
}

.home_body {
  margin-top: 4rem;
  display: flex;

}

.home_left {
  flex: 1;
  font-family: 'Poppins';
  margin: 0;
  p {
    margin-bottom: 0%;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 1px;

  }
  
  h3 {
    padding: 0;
    margin: 0;
    margin: 0%;
    letter-spacing: 2px;
    font-size: 2.5rem;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 16px rgba(239, 226, 226, 0.263);
  }
  .title {
    font-weight: bold;
    font-size: 1.75rem;
    width: 100%;
  }
  .body {
    font-size: 1.75rem;
    width: 75%;
    border-top: 1px solid #1156cc83;
  }
  .button {
    background-color: rgb(241, 241, 241);
    border: none;
    outline: none;
    color: #5a84a2;
    letter-spacing: 2px;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1rem 2rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 5px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.658), 5px 5px 10px #90a4ae;
  }
  .button_login {
    background-color: #7abde4;
    color: white;
  }

  .button_login:hover {
    background-color: #1155cc;
    color: white;
    

  }
  .button_register:hover {
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.658), 5px 5px 10px #90a4ae,
    inset -5px -5px 10px rgba(255, 255, 255, 0.658), inset 5px 5px 10px #90a4ae5c;
    color: #5a84a2;
  }
  .bothButtons {
    display: flex;
    margin-top: 1rem !important;
  }
}

.home_right {
  flex: 1;
  text-align: right;

  .image_container {
    display: flex;
    justify-content: flex-end;

    img {
      width: 80%;
      height: 80%;
    }
  }

  .float1 {
    position: relative;
    height: 20%;
    width: 10%;
    left: 40%;
    margin-top: 10%;

    flex-direction: column;
    font-family: 'Poppins';
    background-color: white !important;
    border-radius: 5px;
    box-shadow: -4px 9px 20px -2px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 2.5rem;
  }


  .float2 {
    position: relative;
    height: 50px;
    width: 200px;
    overflow: visible;
    left: 15%;
    margin-top: 57%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    background-color: white !important;
    border-radius: 5px;
    box-shadow: -4px 9px 20px -2px rgba(0, 0, 0, 0.1);

    padding-left: 5rem;
    
    .float2_container {
      border-radius: 15px;
      width: 100%;
      background-color: white !important;
      overflow: hidden;

      h5 {
        background-color: white !important;
        margin: 0;
        border-radius: 15px;
        font-size: 0.6rem;
      }
      p {
        background-color: white !important;
        font-size: 0.5rem;
        padding: 0.25rem;
        margin: 0;
        opacity: 0.4;
      }
    }
  }
}


.bodyPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: -1rem;
  img {
    width: 100%;
    height: 100%;
  }
}