.bg {
  background-color: #f7f7f7;
}
.container {
  padding: 60px 50px;
  display: inline-flex;
  background-color: #f7f7f7;
  position: relative;
}
.jumbotron {
  background-color: #f4511e;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}
.aboutBody {
  display: flex;
  justify-content: flex-start;
}
.container1 {
  padding: 0px 50px;
  background-color: #f7f7f7;
}
.photo {
  height: 40em;
  width: 100%;
}
.title {
  top: 27em;
  position: absolute;
  color: #fff;
}
.titleCenter {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  margin-right: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: rgb(0, 0, 0);
  width: 14rem;
  margin-right: 1rem;
  height: 5rem;
  cursor: pointer;
}
.buttonCenter {
  display: flex;
  justify-content: center;
}

.picture1 {
  width: 30em;
}
