
.main_message {
border: solid 1px black;
background-color: #0084ff;
height: 100%;
width: 100%;


.chat_header {
  background-color: #0084ff;
  height: 20%;
  border-bottom-right-radius: 30px !important;
  text-align: right;
  background-color: #0084ff;

    p {
      margin: 0;

      border-bottom-right-radius: 30px !important;
    }
  }

  .messages_container {
    height: 70%;
  }

  .styles.messages_form {
    height: 10%;
  }

}


$color-1: #242526;
$color-2: rgb(206, 27, 27);
$color-3: #0084ff;
$color-4: grey;
$color-5: #eb4034;
$color-6: rgb(236, 236, 236);

