.nav_main {
  top: 0;
  margin: 0;
  z-index: 50;
  display: flex;
  height: 10vh;
  background-color: whitesmoke;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins';
  font-size: large;
}

.nav_main_freelancerview {
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 50;
  display: flex;
  height: 10vh;
  background-color: whitesmoke;
  align-items: center;
  justify-content: space-between !important;
  font-family: 'Poppins';
  font-size: large;
  
}

.nav_left {
  cursor: pointer;
  margin: 1rem;
  padding: 0;
  padding-left: 2rem;
  display: flex;
align-items: center;


  img {
    height: 3rem;
    width: 3rem;
  }

  p {
    font-weight: 800;
    font-size: 1.5rem;
    font-family: 'Roboto';
    margin: 0;
    margin-left: 1rem;
  }
}

.nav_middle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  p {

    color: rgba(54, 54, 54, 0.885);   
    margin-right: 1rem; 
  }
}

.nav_right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;

  .nav_right_user_true {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    img {
      height: 3.5rem;
      width: 3.5rem;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 1em;
      box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.658), 5px 5px 10px #90a4ae8e;

    }
    span {
      margin-right: 1em;
    }
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.a {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-bottom: 0px;
  align-items: center;
}

.a::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 4px;
  border-radius: 4px;
  background-color: #1155cc;
  bottom: 0;
  left: 8;
  top: 1.5em;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

// @mixin button-bg($bg) {
//   background: $bg;

//   .btn {
//     color: white;
//     text-decoration: none;
//     padding: 5px 10px;
//     border-radius: 3px;
//     font-family: 'Poiret One', cursive;
//     font-size: 2em;
//     &:hover {
//       background: darken($bg, 8%);
//       transition: all 0.3s ease;
//     }
//     &:active {
//       background: darken($bg, 25%);
//     }
//   }
// }

.nav_right_signin {
  cursor: pointer;
  display: flex;
  margin-right: 1em;
  p {
    margin-right: 1em;
  }
}

.blueButton {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-bottom: 0px;
  background-color: #7abde4;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  transition-duration: 0.4s;
}
.blueButton:hover {
  background-color: #1155cc !important;
  transition-duration: 0.4s;
}
.register {
  margin-top: 0.5em;
}
.logout {
  font-size: medium;
  font-family: 'Poppins';
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-bottom: 0px;
  background-color: #1155cc;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  transition-duration: 0.4s;
}
.logout:hover {
  background-color: #7abde4 !important;
  transition-duration: 0.4s;
}
