.card_container {

  margin: 0;
  padding: 0;
  height: 20rem;
  margin-top: 15%;

}
.border{
  border: 2px solid black;
  border-radius: 10px;
  margin-left: -4em;
  font-family: 'Poppins';
  margin-bottom: 3em;
  margin: 1em;
  display: inline-grid;
  width: 100%;
  background: linear-gradient(-45deg, #fcebeb, #cccccc, #e7f5f8, #fdfdfd);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;




  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }










  .borderdiv{
    width: 80%;
    margin: 1em;
  }
  h1 {
    font-size: large;
  }
  p {
    font-size: medium;
  }
  button {
    cursor: pointer;
    background-color: #e47a7a;
    border: solid 2px red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 1em;
    display: inline-flex;
    transition-duration: 0.4s;
  }
  button:hover {
    background-color: #cc1111;
  }
}