.main {
  padding-top: 2rem;
  background-color: whitesmoke;
  font-family: 'Poppins' !important;
}

.top_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
    font-family: 'Poppins' !important;
    text-transform: capitalize;
  }
  .media_type {
    font-size: 0.75rem;
  }

  .username {
    font-size: 2.5rem;
  }

  .city {
    font-size: 0.75rem;
    color: gray;
  }
}

.body_profile {
  margin-top: 3%;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  justify-content: center;

  h2 {
    font-size: 0.8rem;
    color: rgba(84, 78, 78, 0.489);
    font-family: 'Poppins';
  }
}

.body_left {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  margin-right: 25% !important;
  p {
    font-size: 1rem;
    text-transform: capitalize;
  }
  button {
    cursor: pointer;
    background-color: #7abde4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: right;
    // margin-top: em;
    margin-right: 4.2em;
    display: inline-block;
    transition-duration: 0.4s;
  }
  button:hover {
    transition-duration: 0.4s;
    background-color: #1155cc;
    color: white;
  }
  .buttonTwo {
    background-color: #e47a7a;
  }
  .buttonTwo:hover {
    background-color: #cc1111;
  }
  .buttonOne {
    background-color: transparent;
  }
}

.body_right {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 1rem;
  font-size: 2rem;
  margin-left: 25% !important;
}

.avatar_outline {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 129px;
  height: 27rem;
  width: 12rem;
  margin-top: 0rem;
  border: rgba(216, 215, 215, 0.506) solid 1px;
}
.avatar {
  border-radius: 129px;
  height: 30rem !important;
  width: 20rem !important;
  object-fit: cover;
  margin-top: 3rem;
  margin-right: 3em;
}

.section {
  h3 {
    margin-left: 7%;
    margin-top: 4em;
    // margin-bottom: 2em;
  }
}

////////////////////////////////////////////
.mainBusiness {
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 0px 60px 40px whitesmoke;
  flex-direction: column;
  max-width: min-content;
  align-items: center;
  min-width: 50%;
  margin-left: 25%;
  font-family: 'Poppins' !important;

  .divOne {
    display: flex;
    align-items: center !important;
    flex-direction: column;
    margin-bottom: 3em;
  }
  img {
    border: 2px solid black;
    border-radius: 2em;
  }

  h1 {
    text-transform: capitalize;
    padding-bottom: 0.5em;
  }
  p {
    text-transform: capitalize;
  }
  .postListdiv {
    width: 80%;
  }
}

.businessForm {
  box-sizing: border-box;
  input,
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    text-transform: capitalize;
  }
  button:hover {
    background-color: #1155cc;
    color: white;
  }
}

.button {
  cursor: pointer;
  background-color: #7abde4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  float: right;
  margin-top: 1em;
  display: inline-block;
  transition-duration: 0.4s;
}
