.messages {
  margin-top: 2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10em !important;
  button {
    color: white;
    background-color: #1155cc;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}

.main {
  padding-top: 2rem;
  background-color: whitesmoke;
  font-family: 'Poppins' !important;
  padding: 6rem;
}

.top_profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
    font-family: 'Poppins' !important;
    text-transform: capitalize;
  }
  .media_type {
    font-size: 0.75rem;
  }

  .username {
    font-size: 2.5rem;
  }

  .city {
    font-size: 0.75rem;
    color: gray;
  }
}

.body_profile {
  margin-top: 3%;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  justify-content: center;

  h2 {
    font-size: 0.8rem;
    color: rgba(84, 78, 78, 0.489);
    font-family: 'Poppins';
  }
}

.body_left {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  margin-right: 25% !important;

  p {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0.5rem 0;
  }
  button {
    cursor: pointer;
    background-color: #7abde4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: right;
    // margin-top: em;
    margin-right: 4.2em;
    display: inline-block;
    transition-duration: 0.4s;
  }
  button:hover {
    transition-duration: 0.4s;
    background-color: rgb(17, 85, 204);
    color: white;
  }
  .buttonTwo {
    background-color: #e47a7a;
  }
  .buttonTwo:hover {
    background-color: #cc1111;
  }
  .buttonOne {
    background-color: transparent;
  }
}

.body_right {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 1rem;
  font-size: 3rem;
  margin-left: 25% !important;
}

.avatar {
  border-radius: 129px;
  height: 30rem !important;
  width: 20rem !important;
  object-fit: cover;
  margin-right: 8rem;
  outline: 1px solid rgba(66, 66, 66, 0.368);
  outline-offset: 10px;
}

.section {
  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    // margin-left: 10em;
    margin-top: 4em;
    margin-bottom: 3em;
    // margin-bottom: 2em;
  }
}

////////////////////////////////////////////

.mainBusiness {
  background: linear-gradient(-45deg, #e0e0e0, #dbdbdb, #c9cecf, #e0e0e0);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  display: flex;
  justify-content: center;
  box-shadow: inset 0px 0px 60px 40px #e0e0e0;
  flex-direction: column;
  width: 100%;
  align-items: center;
  // min-width: 50%;
  // margin-left: 25%;
  font-family: 'Poppins' !important;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  img {
    margin-top: 2em !important;
    margin-bottom: 2em;
    border: 2px solid black;
    border-radius: 2em;
    height: 20em;
    width: 20em;
    object-fit: contain;
  }
  .divOne {
    display: flex;
    align-items: center !important;
    flex-direction: column;
    margin-bottom: 3em;
  }

  button {
    background-color: #7abde4;
  }
  h1 {
    text-transform: capitalize;
    padding-bottom: 0.5em;
  }
  p {
    text-transform: capitalize;
  }
  .postListdiv {
    width: 80%;
  }
}

.businessForm {
  box-sizing: border-box;
  input,
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    text-transform: capitalize;
  }
  button:hover {
    background-color: #1155cc;
    color: white;
  }
}

.button {
  cursor: pointer;
  background-color: #7abde4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  float: right;
  margin-top: 1em;
  display: inline-block;
  transition-duration: 0.4s;
}

/////////////////////////////////

.slider {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10em;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 80%;
  display: inline-flex;
  flex-direction: column;
  img {
    height: 100%;
    object-fit: contain;
    border-radius: 40px;
  }
  div {
    align-self: center !important;
    font-size: large;
  }
  button {
    width: 20% !important;
    // margin-left: 25.7em;
    align-self: center !important;
  }
}

.right_arrow {
  position: absolute;
  top: 155%;
  left: 75%;
  font-size: 3.5rem;
  color: #1155cc;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent !important;
}

.left_arrow {
  position: absolute;
  top: 155%;
  right: 75%;
  font-size: 3.5rem;
  color: #1155cc;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent !important;
}

.right_arrowOne {
  position: absolute;
  top: 195% !important;
  left: 75%;
  font-size: 3.5rem;
  color: #1155cc;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent !important;
}

.left_arrowOne {
  position: absolute;
  top: 195% !important;
  right: 75%;
  font-size: 3.5rem;
  color: #1155cc;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent !important;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide_active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  background-color: #e47a7a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  float: right;
  margin-top: 1em;
  display: inline-block;
  transition-duration: 0.4s;
  // margin-bottom: 15em;
}
.button:hover {
  background-color: #cc1111;
  color: white;
}

.messageButton {
  font-size: medium;
  font-family: 'Poppins';
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-bottom: 0px;
  background-color: #1155cc;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 40px;
  cursor: pointer;
  float: right;
  transition-duration: 0.4s;
}
.messageButton:hover {
  background-color: #7abde4 !important;
  transition-duration: 0.4s;
}
