.slider {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right_arrow {
  position: absolute;
  top: 50%;
  right: 3em;
  font-size: 3rem;
  color: #1155cc;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent !important;

}

.left_arrow {
  position: absolute;
  top: 50%;
  left: 3em;
  font-size: 3rem;
  color: #1155cc;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent !important;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide_active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  background-color: #e47a7a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  float: right;
  margin-top: 1em;
  display: inline-block;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #cc1111;
  color: white;
}